@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
.chat-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f4f4;
    width: 80%;
    height: 90vh;
    margin: auto auto;
    border: 1px solid #ccc;
     overflow-y: scroll;
    
}
input {
    background-color: white;
    border-radius: 2rem;
    padding: 5px 10px;
    border: none;
   margin: 10px 0;
   outline: 1px solid rgb(37, 106, 255);
}
form{
    margin-top: auto;
    align-self: center;
}
form button{
    background-color: rgb(37, 106, 255);
    border-radius: 5rem;
    border: none;
    padding: 5px 10px;
}
.message{
    width: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 5px;
    text-align: right;
    
}